
input[type="checkbox"]{
  display: inline;
  width: auto;
  margin-right: 2%;
  /* text-decoration: inherit */
}
 
.btn{
  margin: 2% !important;
}

ul {
  list-style-type: none;
}
*{
  font-family: 'Shrikhand', cursive !important;
  font-size: 25px;
}